common --enable_bzlmod
common --announce_rc
common --color=yes
common --curses=yes
common --experimental_convenience_symlinks=ignore
common --repository_cache=D:/Kain-Bazel/repository-cache
startup --output_user_root=D:/Kain-Bazel/output-user-root
common --repo_env=TMP=D:/Kain-Bazel/tmp
common --repo_env=TEMP=D:/Kain-Bazel/tmp
common --repo_env=TMPDIR=D:/Kain-Bazel/tmp
common --action_env=TMP=D:/Kain-Bazel/tmp
common --action_env=TEMP=D:/Kain-Bazel/tmp
common --action_env=TMPDIR=D:/Kain-Bazel/tmp
common --action_env=PYO3_PYTHON=C:/Users/Admin/AppData/Local/Programs/Python/Python310/python.exe

build --disk_cache=D:/Kain-Bazel/disk-cache
build --jobs=HOST_CPUS*.625
build --loading_phase_threads=HOST_CPUS*.5
build --local_resources=cpu=HOST_CPUS*.625
build --local_resources=memory=HOST_RAM*.75
build --keep_going

build:maxperf --jobs=HOST_CPUS
build:maxperf --loading_phase_threads=HOST_CPUS
build:maxperf --local_resources=cpu=HOST_CPUS
build:maxperf --local_resources=memory=HOST_RAM

build:dev --compilation_mode=dbg
build:release --compilation_mode=opt
build:warnings --@rules_rust//rust/settings:extra_rustc_flags=-Dwarnings

test --test_output=errors
test --test_summary=short
test --local_test_jobs=HOST_CPUS*.25
test --test_env=TMP=D:/Kain-Bazel/tmp
test --test_env=TEMP=D:/Kain-Bazel/tmp
test --test_env=TMPDIR=D:/Kain-Bazel/tmp
test --test_env=PATH
test --test_env=PATHEXT

test:maxperf --local_test_jobs=HOST_CPUS*.5
