common --enable_bzlmod
common --announce_rc
common --color=yes
common --curses=yes
common --experimental_convenience_symlinks=ignore
startup --output_user_root=D:/Kain-Bazel/output-user-root
common --repo_env=TMP=D:/Kain-Bazel/tmp
common --repo_env=TEMP=D:/Kain-Bazel/tmp
common --repo_env=TMPDIR=D:/Kain-Bazel/tmp
common --action_env=TMP=D:/Kain-Bazel/tmp
common --action_env=TEMP=D:/Kain-Bazel/tmp
common --action_env=TMPDIR=D:/Kain-Bazel/tmp
common --action_env=PYO3_PYTHON=C:/Users/Admin/AppData/Local/Programs/Python/Python310/python.exe

build --disk_cache=.bazel-cache/disk
build --jobs=HOST_CPUS
build --keep_going

build:dev --compilation_mode=dbg
build:release --compilation_mode=opt
build:warnings --@rules_rust//rust/settings:extra_rustc_flags=-Dwarnings

test --test_output=errors
test --test_summary=short
